@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family:"Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
  
}
.container {
    background: #E6EFF6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }
  .card{
    background: white;
    display: flex;
    height: 425px;
    width: 600px;
    box-shadow: 1px 10px 20px rgb(201, 201, 201);
    border-radius: 5px;
    flex-wrap: wrap;
    align-items: end;
  }

  .topbox{
    height: 45%;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 35px;
  }

  .flexitem1{
    font-size: 20.5px;
    color: #38A9A6;
    font-weight: 600;
    padding-bottom: 25px;
  }
  .flexitem2{
    font-size: 14px;
    font-weight: 600;
    color: #BFDF32;
    padding-bottom: 15px;
    
  }
  .description{
    color: rgb(186, 186, 186);
  }


  .bottomleft{
    background: #2BB3B1;
    height: 53%;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 40px;
    padding-top: 40px;
  }

  
  
  .p{
    color: #aee9e8;
    padding-bottom: 20px;
    line-height: 25px;
    font-size: 15px;
  }
  .amountbox{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: 550;
    align-items: center;  
    margin-bottom: 7px;
  }

  .monthly{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  .duration{
    font-size: 15px;
    font-weight: 100;
    padding-left: 12px;
    color: #93d0cf;
  }
  .subscription{
    padding-bottom: 14px;
    color: #e0f6f5;
    font-size: 14.5px;
    font-weight: 550;

  }
  .button{
    width: 100%;
    height: 40px;
    background: #BFDF32;
    border: none;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  
  }

  .bottomright{
    background: #4ABEBD;
    display: flex;
    flex-direction: column;
    height: 53%;
    width: 50%;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 43px;
    padding-top: 40px;
  }

  .details{
    color: #ffffff;
    font-size: 13px;
    padding-bottom: 2px;
  }

  @media (max-width: 767px){
    .card{
      width: 85%;
      height: 90%;
      display: flex;
      flex-direction: column;

    }
    .topbox{
      height: 36%;
      width: 100%;
      background: white;
      display: flex;
      flex-direction: column;
      padding: 35px;
    }
    .bottomleft{
      height: 32%;
      width: 100%;
      padding-bottom: 25px;
      padding-top: 25px;
    }
    .p{
      padding-bottom: 20px;
    }
    .bottomright{
      height: 32%;
      width: 100%;
      padding-bottom: 25px;
      padding-top: 25px;
    }
    
    .topbox{
      display: flex;
      justify-content: center;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 35px;
    }

    .flexitem1{
      font-size: 20.5px;
      color: #38A9A6;
      font-weight: 600;
      padding-bottom: 30px;
    }

    .flexitem2{
      font-size: 14px;
      font-weight: 600;
      color: #BFDF32;
      
    }
    .description{
      color: rgb(186, 186, 186);
      line-height: 25px;
      font-weight: 600;
      font-size: 13px;
    }
    .monthly{
      font-size: 25px;
      color: white;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    .button{
      height: 45px
    }
    .details{
      font-size: 13px;
      padding-bottom: 3px;

    }
  }
